html,
body {
    font-family: 'Microsoft JhengHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
    /*font-family: 'Open Sans','Helvetica Neue',Arial,'Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;*/
    color: #fff;
    height: 100%;
    /*overflow: hidden;*/
}

a {
    color: #fff;
}

.contentWar {
    height: 100%;
    min-height: 600px;
    width: 100%;
    position: relative;
}

.contentMain {
    position: relative;
    z-index: 910;
    height: 500px;
    width: 1000px;
}


/*mask-----------------------------------------------------------------*/

div.mask {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(102, 102, 102, 0.6);
}


/*content-----------------------------------------------------------------*/

.content {
    z-index: 900;
    height: auto;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.war {
    width: 100%;
    min-height: 600px;
    position: relative;
    height: 100%;
    overflow: hidden;
}


/*home--------------------------*/

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.war-1 {
    background: -webkit-linear-gradient(45deg, #59ADEB 10%, #35CE93 90%);
    background: linear-gradient(45deg, #59ADEB 10%, #35CE93 90%);
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
}

.war-content-1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.qrcode {
    /*float: left;*/
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1000;
}

.weixin {
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
}

.war-content-info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .war-content-info {
        margin-top: 60px;
    }
}

.info-photo {
    height: 200px;
    width: 200px;
    margin: 0 20px;
    border-radius: 100%;
    border: 8px solid rgba(255, 255, 255, 0.5);
    position: relative;
}

.info-photo>img {
    width: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.info-data {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.info-name {
    opacity: 0;
    font: 700 20px "simsun";
    width: 100%;
    text-align: center;
    margin: 20px 0 10px;
}

.info-line {
    width: 280px;
    height: 2px;
    border-radius: 100%;
    background: #fff;
}

.info-enjoy,
.info-email,
.info-major {
    opacity: 0;
    width: 100%;
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    line-height: 1.8;
}

.info-iphone,
.info-education,
.info-exprience {
    opacity: 0;
    width: 100%;
    text-align: center;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    line-height: 1.8;
}

.war-talk-myself {
    display: none;
    width: 680px;
    margin: 0 auto;
    font-family: 'Microsoft YaHei';
    font-size: 16px;
    margin-top: 30px;
}

.war-talk-myself p {
    line-height: 1.5;
}

.war-talk-myself p:first-child {
    font-size: 18px;
    font-style: italic;
    line-height: 2;
}

@media (min-width: 768px) {
    .war-talk-myself {
        display: block;
    }
}


/*info-------------------------*/


/*.war-2 {
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
}*/

.war-content-2 {}

.container .title {
    display: none;
    margin-top: 20px;
    padding-bottom: 5px;
    font-size: 22px;
    line-height: 1.5;
    border-bottom: #fff solid 1px;
}

.work-item {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.work-logo img {
    width: 200px;
}

.work-name {
    margin-top: 5px;
}

.work-name p {
    font-size: 16px;
    line-height: 1.5;
}

.work-content {
    font-size: 14px;
    line-height: 1.2;
}

.work-picture {
    display: none;
    margin-top: 15px;
}

@media (min-width: 768px) {
    .work-picture {
        display: block;
    }
}

.work-picture img {
    width: 100%;
}


/*project oa-mobile-----------------------------*/

.war-3 {
    background: -webkit-radial-gradient(circle, rgb(189, 232, 127) 10%, rgb(60, 215, 215) 90%);
    background: radial-gradient(circle, rgb(189, 232, 127) 10%, rgb(60, 215, 215) 90%);
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
}

.war-content-3 {}

.project-item {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-info {
    margin-top: 5px;
}

.project-info p {
    font-size: 15px;
    line-height: 1.4;
}

.project-info a {
    text-decoration: underline;
    color: dodgerblue;
}

.project-content,
.project-content p {
    font-size: 14px;
    line-height: 1.3;
}

.my-gallery {
    display: none;
}

.my-gallery img {
    width: 100%;
    height: auto;
}

.my-gallery figcaption {
    display: none;
}

.my-gallery figure {
    margin-bottom: 15px;
}


/*project react---------------------------*/

.war-4 {}

.war-content-4 {}


/*project ocp--------------------------*/

.war-5 {
    position: relative;
    background: -webkit-linear-gradient(left, lightseagreen, lightgray, deepskyblue);
    background: linear-gradient(left, lightseagreen, lightgray, deepskyblue);
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
}


/*project bs3--------------------------*/

.war-6 {}

.war-content-6 {}


/*project lg7-------------------------*/

.war-7 {
    position: relative;
    background: -webkit-linear-gradient(135deg, rgb(189, 232, 127) 10%, mediumturquoise 90%);
    background: -webkit-linear-gradient(315deg, rgb(189, 232, 127) 10%, mediumturquoise 90%);
    background: linear-gradient(135deg, rgb(189, 232, 127) 10%, mediumturquoise 90%);
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
}

.war-content-7 {}


/*project ssl-------------------------*/

.war-8 {}

.war-content-8 {}


/*project eui-------------------------*/

.war-9 {
    position: relative;
    background: -webkit-radial-gradient(circle, rgb(251, 229, 130), rgb(185, 229, 130), rgb(167, 228, 253));
    background: radial-gradient(circle, rgb(251, 229, 130), rgb(185, 229, 130), rgb(167, 228, 253));
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
}

.war-content-9 {}


/*education-------------------------*/

.war-10 {
    background-color: rgba(0, 67, 88, 1);
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: center center;
    perspective-origin: center center;
}

.bg-cube-container {
    display: none;
    position: absolute;
    top: -1em;
    bottom: -1em;
    left: -1em;
    right: -1em;
    margin: auto;
    width: 260px;
    height: 260px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-animation: rotate 15s infinite linear;
    animation: rotate 15s infinite linear;
    z-index: 0;
}

.war-10.active .bg-cube-container {
    display: block;
}

.war-10.active .pswp--open+.bg-cube-container {
    display: none;
}

.cube-side {
    position: absolute;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.cube-back {
    -webkit-transform: translateZ(-130px);
    transform: translateZ(-130px);
}

.cube-front {
    -webkit-transform: translateZ(130px);
    transform: translateZ(130px);
}

.cube-top {
    -webkit-transform: translateY(-130px) rotateX(90deg);
    transform: translateY(-130px) rotateX(90deg);
}

.cube-bottom {
    -webkit-transform: translateY(130px) rotateX(90deg);
    transform: translateY(130px) rotateX(90deg);
}

.cube-left {
    -webkit-transform: translateX(-130px) rotateY(90deg);
    transform: translateX(-130px) rotateY(90deg);
}

.cube-right {
    -webkit-transform: translateX(130px) rotateY(90deg);
    transform: translateX(130px) rotateY(90deg);
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

.cube-dot {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    top: -20px;
    left: -20px;
    border-radius: 50%;
    -webkit-animation: 3s shadows linear infinite;
    animation: 3s shadows linear infinite;
    box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #3FB8AF, 25px 50px 0 0 #FFF0A5, 25px 75px 0 0 #FF2D00, 25px 100px 0 0 #FF974F, 25px 125px 0 0 #D1DBBD, 25px 150px 0 0 #004358, 25px 175px 0 0 #FFE11A, 25px 200px 0 0 #FF2D00, 25px 225px 0 0 #FF974F, 25px 250px 0 0 #B5E655, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF2D00, 50px 50px 0 0 #96CA2D, 50px 75px 0 0 #EDF7F2, 50px 100px 0 0 #FFF0A5, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #FF9E9D, 50px 175px 0 0 #96CA2D, 50px 200px 0 0 #04756F, 50px 225px 0 0 #D1DBBD, 50px 250px 0 0 #3FB8AF, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FFE11A, 75px 50px 0 0 #D1DBBD, 75px 75px 0 0 #3FB8AF, 75px 100px 0 0 #FF9E9D, 75px 125px 0 0 #4BB5C1, 75px 150px 0 0 #FF974F, 75px 175px 0 0 #FF2D00, 75px 200px 0 0 #FFE11A, 75px 225px 0 0 #004358, 75px 250px 0 0 #EDF7F2, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #004358, 100px 50px 0 0 #FF9E9D, 100px 75px 0 0 #04756F, 100px 100px 0 0 #FFE11A, 100px 125px 0 0 #004358, 100px 150px 0 0 #FFF0A5, 100px 175px 0 0 #004358, 100px 200px 0 0 #FF2D00, 100px 225px 0 0 #FFE11A, 100px 250px 0 0 #96CA2D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FF974F, 125px 50px 0 0 #D1DBBD, 125px 75px 0 0 #96CA2D, 125px 100px 0 0 #FFF0A5, 125px 125px 0 0 #04756F, 125px 150px 0 0 #FF974F, 125px 175px 0 0 #4BB5C1, 125px 200px 0 0 #3FB8AF, 125px 225px 0 0 #FFF0A5, 125px 250px 0 0 #04756F, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #004358, 150px 50px 0 0 #EDF7F2, 150px 75px 0 0 #FF9E9D, 150px 100px 0 0 #B5E655, 150px 125px 0 0 #FFE11A, 150px 150px 0 0 #FF9E9D, 150px 175px 0 0 #96CA2D, 150px 200px 0 0 #FFF0A5, 150px 225px 0 0 #D1DBBD, 150px 250px 0 0 #96CA2D, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #04756F, 175px 50px 0 0 #FF974F, 175px 75px 0 0 #4BB5C1, 175px 100px 0 0 #004358, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #004358, 175px 175px 0 0 #D1DBBD, 175px 200px 0 0 #4BB5C1, 175px 225px 0 0 #FF2D00, 175px 250px 0 0 #004358, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FFE11A, 200px 50px 0 0 #FF2D00, 200px 75px 0 0 #96CA2D, 200px 100px 0 0 #FF2D00, 200px 125px 0 0 #FFF0A5, 200px 150px 0 0 #4BB5C1, 200px 175px 0 0 #FF9E9D, 200px 200px 0 0 #96CA2D, 200px 225px 0 0 #FFF0A5, 200px 250px 0 0 #FF9E9D, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #D90000, 225px 50px 0 0 #FFF0A5, 225px 75px 0 0 #3FB8AF, 225px 100px 0 0 #FF9E9D, 225px 125px 0 0 #004358, 225px 150px 0 0 #FF974F, 225px 175px 0 0 #D90000, 225px 200px 0 0 #D1DBBD, 225px 225px 0 0 #EDF7F2, 225px 250px 0 0 #FF974F, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #96CA2D, 250px 50px 0 0 #D1DBBD, 250px 75px 0 0 #FFF0A5, 250px 100px 0 0 #D1DBBD, 250px 125px 0 0 #FF2D00, 250px 150px 0 0 #FFF0A5, 250px 175px 0 0 #4BB5C1, 250px 200px 0 0 #FFE11A, 250px 225px 0 0 #FF2D00, 250px 250px 0 0 #4BB5C1;
}


/* Keyframes */

@-webkit-keyframes shadows {
    0% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #3FB8AF, 25px 50px 0 0 #FFF0A5, 25px 75px 0 0 #FF2D00, 25px 100px 0 0 #FF974F, 25px 125px 0 0 #D1DBBD, 25px 150px 0 0 #004358, 25px 175px 0 0 #FFE11A, 25px 200px 0 0 #FF2D00, 25px 225px 0 0 #FF974F, 25px 250px 0 0 #B5E655, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF2D00, 50px 50px 0 0 #96CA2D, 50px 75px 0 0 #EDF7F2, 50px 100px 0 0 #FFF0A5, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #FF9E9D, 50px 175px 0 0 #96CA2D, 50px 200px 0 0 #04756F, 50px 225px 0 0 #D1DBBD, 50px 250px 0 0 #3FB8AF, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FFE11A, 75px 50px 0 0 #D1DBBD, 75px 75px 0 0 #3FB8AF, 75px 100px 0 0 #FF9E9D, 75px 125px 0 0 #4BB5C1, 75px 150px 0 0 #FF974F, 75px 175px 0 0 #FF2D00, 75px 200px 0 0 #FFE11A, 75px 225px 0 0 #004358, 75px 250px 0 0 #EDF7F2, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #004358, 100px 50px 0 0 #FF9E9D, 100px 75px 0 0 #04756F, 100px 100px 0 0 #FFE11A, 100px 125px 0 0 #004358, 100px 150px 0 0 #FFF0A5, 100px 175px 0 0 #004358, 100px 200px 0 0 #FF2D00, 100px 225px 0 0 #FFE11A, 100px 250px 0 0 #96CA2D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FF974F, 125px 50px 0 0 #D1DBBD, 125px 75px 0 0 #96CA2D, 125px 100px 0 0 #FFF0A5, 125px 125px 0 0 #04756F, 125px 150px 0 0 #FF974F, 125px 175px 0 0 #4BB5C1, 125px 200px 0 0 #3FB8AF, 125px 225px 0 0 #FFF0A5, 125px 250px 0 0 #04756F, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #004358, 150px 50px 0 0 #EDF7F2, 150px 75px 0 0 #FF9E9D, 150px 100px 0 0 #B5E655, 150px 125px 0 0 #FFE11A, 150px 150px 0 0 #FF9E9D, 150px 175px 0 0 #96CA2D, 150px 200px 0 0 #FFF0A5, 150px 225px 0 0 #D1DBBD, 150px 250px 0 0 #96CA2D, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #04756F, 175px 50px 0 0 #FF974F, 175px 75px 0 0 #4BB5C1, 175px 100px 0 0 #004358, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #004358, 175px 175px 0 0 #D1DBBD, 175px 200px 0 0 #4BB5C1, 175px 225px 0 0 #FF2D00, 175px 250px 0 0 #004358, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FFE11A, 200px 50px 0 0 #FF2D00, 200px 75px 0 0 #96CA2D, 200px 100px 0 0 #FF2D00, 200px 125px 0 0 #FFF0A5, 200px 150px 0 0 #4BB5C1, 200px 175px 0 0 #FF9E9D, 200px 200px 0 0 #96CA2D, 200px 225px 0 0 #FFF0A5, 200px 250px 0 0 #FF9E9D, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #D90000, 225px 50px 0 0 #FFF0A5, 225px 75px 0 0 #3FB8AF, 225px 100px 0 0 #FF9E9D, 225px 125px 0 0 #004358, 225px 150px 0 0 #FF974F, 225px 175px 0 0 #D90000, 225px 200px 0 0 #D1DBBD, 225px 225px 0 0 #EDF7F2, 225px 250px 0 0 #FF974F, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #96CA2D, 250px 50px 0 0 #D1DBBD, 250px 75px 0 0 #FFF0A5, 250px 100px 0 0 #D1DBBD, 250px 125px 0 0 #FF2D00, 250px 150px 0 0 #FFF0A5, 250px 175px 0 0 #4BB5C1, 250px 200px 0 0 #FFE11A, 250px 225px 0 0 #FF2D00, 250px 250px 0 0 #4BB5C1;
    }
    20% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #B5E655, 25px 50px 0 0 #FD7400, 25px 75px 0 0 #96CA2D, 25px 100px 0 0 #1F8A70, 25px 125px 0 0 #FF9E9D, 25px 150px 0 0 #3FB8AF, 25px 175px 0 0 #FF974F, 25px 200px 0 0 #004358, 25px 225px 0 0 #FFE11A, 25px 250px 0 0 #FF9E9D, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF9E9D, 50px 50px 0 0 #3FB8AF, 50px 75px 0 0 #004358, 50px 100px 0 0 #3FB8AF, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #FD7400, 50px 175px 0 0 #FF3D7F, 50px 200px 0 0 #FFF0A5, 50px 225px 0 0 #96CA2D, 50px 250px 0 0 #1F8A70, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FF974F, 75px 50px 0 0 #FFF0A5, 75px 75px 0 0 #FD7400, 75px 100px 0 0 #96CA2D, 75px 125px 0 0 #FFF0A5, 75px 150px 0 0 #FFB03B, 75px 175px 0 0 #D1DBBD, 75px 200px 0 0 #FF974F, 75px 225px 0 0 #FFE11A, 75px 250px 0 0 #FD7400, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #1F8A70, 100px 50px 0 0 #BEDB39, 100px 75px 0 0 #FF9E9D, 100px 100px 0 0 #FF3D7F, 100px 125px 0 0 #B5E655, 100px 150px 0 0 #3FB8AF, 100px 175px 0 0 #FFE11A, 100px 200px 0 0 #D1DBBD, 100px 225px 0 0 #1F8A70, 100px 250px 0 0 #B5E655, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FD7400, 125px 50px 0 0 #FFE11A, 125px 75px 0 0 #FFB03B, 125px 100px 0 0 #FF974F, 125px 125px 0 0 #FF2D00, 125px 150px 0 0 #FFE11A, 125px 175px 0 0 #FF2D00, 125px 200px 0 0 #B5E655, 125px 225px 0 0 #FFE11A, 125px 250px 0 0 #FF9E9D, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #FFF0A5, 150px 50px 0 0 #3FB8AF, 150px 75px 0 0 #004358, 150px 100px 0 0 #FFF0A5, 150px 125px 0 0 #96CA2D, 150px 150px 0 0 #468966, 150px 175px 0 0 #DAD8A7, 150px 200px 0 0 #004358, 150px 225px 0 0 #FF2D00, 150px 250px 0 0 #FF974F, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FFE11A, 175px 50px 0 0 #FFB03B, 175px 75px 0 0 #FF9E9D, 175px 100px 0 0 #B5E655, 175px 125px 0 0 #FFB03B, 175px 150px 0 0 #FFF0A5, 175px 175px 0 0 #3FB8AF, 175px 200px 0 0 #FF974F, 175px 225px 0 0 #FFF0A5, 175px 250px 0 0 #468966, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #96CA2D, 200px 50px 0 0 #FFF0A5, 200px 75px 0 0 #FF2D00, 200px 100px 0 0 #FFE11A, 200px 125px 0 0 #004358, 200px 150px 0 0 #FF9E9D, 200px 175px 0 0 #1F8A70, 200px 200px 0 0 #DAD8A7, 200px 225px 0 0 #004358, 200px 250px 0 0 #3FB8AF, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #D1DBBD, 225px 50px 0 0 #004358, 225px 75px 0 0 #FD7400, 225px 100px 0 0 #FFB03B, 225px 125px 0 0 #FFE11A, 225px 150px 0 0 #FFB03B, 225px 175px 0 0 #D1DBBD, 225px 200px 0 0 #FF974F, 225px 225px 0 0 #FF2D00, 225px 250px 0 0 #FFF0A5, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #FF974F, 250px 50px 0 0 #1F8A70, 250px 75px 0 0 #3FB8AF, 250px 100px 0 0 #004358, 250px 125px 0 0 #FFB03B, 250px 150px 0 0 #B5E655, 250px 175px 0 0 #96CA2D, 250px 200px 0 0 #468966, 250px 225px 0 0 #B5E655, 250px 250px 0 0 #FFE11A;
    }
    40% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #96CA2D, 25px 50px 0 0 #FF2D00, 25px 75px 0 0 #FF8C00, 25px 100px 0 0 #004358, 25px 125px 0 0 #96CA2D, 25px 150px 0 0 #FFE11A, 25px 175px 0 0 #FD7400, 25px 200px 0 0 #FFE11A, 25px 225px 0 0 #FF9E9D, 25px 250px 0 0 #FFF0A5, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FFE11A, 50px 50px 0 0 #1F8A70, 50px 75px 0 0 #BEDB39, 50px 100px 0 0 #3FB8AF, 50px 125px 0 0 #FF3D7F, 50px 150px 0 0 #FF2D00, 50px 175px 0 0 #004358, 50px 200px 0 0 #D1DBBD, 50px 225px 0 0 #BEDB39, 50px 250px 0 0 #FF8C00, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FD7400, 75px 50px 0 0 #FF9E9D, 75px 75px 0 0 #FF2D00, 75px 100px 0 0 #FFE11A, 75px 125px 0 0 #1F8A70, 75px 150px 0 0 #3FB8AF, 75px 175px 0 0 #FF3D7F, 75px 200px 0 0 #1F8A70, 75px 225px 0 0 #FFF0A5, 75px 250px 0 0 #FFE11A, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #FFF0A5, 100px 50px 0 0 #3FB8AF, 100px 75px 0 0 #96CA2D, 100px 100px 0 0 #FFF0A5, 100px 125px 0 0 #FFE11A, 100px 150px 0 0 #BEDB39, 100px 175px 0 0 #FD7400, 100px 200px 0 0 #3FB8AF, 100px 225px 0 0 #D1DBBD, 100px 250px 0 0 #96CA2D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #004358, 125px 50px 0 0 #FF8C00, 125px 75px 0 0 #FF9E9D, 125px 100px 0 0 #FD7400, 125px 125px 0 0 #004358, 125px 150px 0 0 #FF8C00, 125px 175px 0 0 #FF9E9D, 125px 200px 0 0 #96CA2D, 125px 225px 0 0 #FF3D7F, 125px 250px 0 0 #1F8A70, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #96CA2D, 150px 50px 0 0 #1F8A70, 150px 75px 0 0 #BEDB39, 150px 100px 0 0 #FFE11A, 150px 125px 0 0 #BEDB39, 150px 150px 0 0 #1F8A70, 150px 175px 0 0 #FFE11A, 150px 200px 0 0 #BEDB39, 150px 225px 0 0 #004358, 150px 250px 0 0 #FFE11A, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FFE11A, 175px 50px 0 0 #D1DBBD, 175px 75px 0 0 #FFF0A5, 175px 100px 0 0 #FF8C00, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #D1DBBD, 175px 175px 0 0 #3FB8AF, 175px 200px 0 0 #FFE11A, 175px 225px 0 0 #3FB8AF, 175px 250px 0 0 #96CA2D, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FD7400, 200px 50px 0 0 #3FB8AF, 200px 75px 0 0 #FF9E9D, 200px 100px 0 0 #B64926, 200px 125px 0 0 #1F8A70, 200px 150px 0 0 #96CA2D, 200px 175px 0 0 #004358, 200px 200px 0 0 #FFF0A5, 200px 225px 0 0 #FFE11A, 200px 250px 0 0 #3FB8AF, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #FF9E9D, 225px 50px 0 0 #FFE11A, 225px 75px 0 0 #FF2D00, 225px 100px 0 0 #96CA2D, 225px 125px 0 0 #FF2D00, 225px 150px 0 0 #FF8C00, 225px 175px 0 0 #FF2D00, 225px 200px 0 0 #1F8A70, 225px 225px 0 0 #D1DBBD, 225px 250px 0 0 #004358, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #BEDB39, 250px 50px 0 0 #FF9E9D, 250px 75px 0 0 #FF8C00, 250px 100px 0 0 #1F8A70, 250px 125px 0 0 #004358, 250px 150px 0 0 #FF2D00, 250px 175px 0 0 #BEDB39, 250px 200px 0 0 #2E0927, 250px 225px 0 0 #FF2D00, 250px 250px 0 0 #FD7400;
    }
    60% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #3FB8AF, 25px 50px 0 0 #FF9E9D, 25px 75px 0 0 #FF3D7F, 25px 100px 0 0 #04756F, 25px 125px 0 0 #FF8C00, 25px 150px 0 0 #FF2D00, 25px 175px 0 0 #3FB8AF, 25px 200px 0 0 #EDF7F2, 25px 225px 0 0 #FFF0A5, 25px 250px 0 0 #96CA2D, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #D90000, 50px 50px 0 0 #1F8A70, 50px 75px 0 0 #96CA2D, 50px 100px 0 0 #7FC7AF, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #D1DBBD, 50px 175px 0 0 #96CA2D, 50px 200px 0 0 #FF8C00, 50px 225px 0 0 #004358, 50px 250px 0 0 #3FB8AF, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FF8C00, 75px 50px 0 0 #004358, 75px 75px 0 0 #FFF0A5, 75px 100px 0 0 #004358, 75px 125px 0 0 #FF2D00, 75px 150px 0 0 #B5E655, 75px 175px 0 0 #FFF0A5, 75px 200px 0 0 #FF9E9D, 75px 225px 0 0 #FFE11A, 75px 250px 0 0 #D90000, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #D1DBBD, 100px 50px 0 0 #FD7400, 100px 75px 0 0 #04756F, 100px 100px 0 0 #FF8C00, 100px 125px 0 0 #644D52, 100px 150px 0 0 #FF9E9D, 100px 175px 0 0 #FFE11A, 100px 200px 0 0 #FFF0A5, 100px 225px 0 0 #3FB8AF, 100px 250px 0 0 #644D52, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FFE11A, 125px 50px 0 0 #04756F, 125px 75px 0 0 #FFE11A, 125px 100px 0 0 #FF2D00, 125px 125px 0 0 #B5E655, 125px 150px 0 0 #DAD8A7, 125px 175px 0 0 #004358, 125px 200px 0 0 #DAD8A7, 125px 225px 0 0 #FF2D00, 125px 250px 0 0 #FF8C00, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #3FB8AF, 150px 50px 0 0 #FFF0A5, 150px 75px 0 0 #FF9E9D, 150px 100px 0 0 #3FB8AF, 150px 125px 0 0 #FFE11A, 150px 150px 0 0 #FF8C00, 150px 175px 0 0 #D90000, 150px 200px 0 0 #96CA2D, 150px 225px 0 0 #1F8A70, 150px 250px 0 0 #004358, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FF9E9D, 175px 50px 0 0 #D1DBBD, 175px 75px 0 0 #96CA2D, 175px 100px 0 0 #FF3D7F, 175px 125px 0 0 #004358, 175px 150px 0 0 #DAD8A7, 175px 175px 0 0 #04756F, 175px 200px 0 0 #D1DBBD, 175px 225px 0 0 #FF8C00, 175px 250px 0 0 #B5E655, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FF8C00, 200px 50px 0 0 #4BB5C1, 200px 75px 0 0 #1F8A70, 200px 100px 0 0 #FFE11A, 200px 125px 0 0 #FF9E9D, 200px 150px 0 0 #D90000, 200px 175px 0 0 #644D52, 200px 200px 0 0 #96CA2D, 200px 225px 0 0 #FF3D7F, 200px 250px 0 0 #D90000, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #B5E655, 225px 50px 0 0 #04756F, 225px 75px 0 0 #FF3D7F, 225px 100px 0 0 #04756F, 225px 125px 0 0 #3FB8AF, 225px 150px 0 0 #F77A52, 225px 175px 0 0 #FFF0A5, 225px 200px 0 0 #FFE11A, 225px 225px 0 0 #FF9E9D, 225px 250px 0 0 #B5E655, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #3FB8AF, 250px 50px 0 0 #D90000, 250px 75px 0 0 #B5E655, 250px 100px 0 0 #004358, 250px 125px 0 0 #FF3D7F, 250px 150px 0 0 #96CA2D, 250px 175px 0 0 #DAD8A7, 250px 200px 0 0 #FF2D00, 250px 225px 0 0 #3FB8AF, 250px 250px 0 0 #FFE11A;
    }
    80% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #FF8C00, 25px 50px 0 0 #96CA2D, 25px 75px 0 0 #04756F, 25px 100px 0 0 #3FB8AF, 25px 125px 0 0 #FFE11A, 25px 150px 0 0 #004358, 25px 175px 0 0 #FFE11A, 25px 200px 0 0 #BEDB39, 25px 225px 0 0 #004358, 25px 250px 0 0 #FF8C00, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF2D00, 50px 50px 0 0 #FF9E9D, 50px 75px 0 0 #FF8C00, 50px 100px 0 0 #FFF0A5, 50px 125px 0 0 #96CA2D, 50px 150px 0 0 #FFF0A5, 50px 175px 0 0 #D90000, 50px 200px 0 0 #FFF0A5, 50px 225px 0 0 #96CA2D, 50px 250px 0 0 #FFF0A5, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #3FB8AF, 75px 50px 0 0 #FFB03B, 75px 75px 0 0 #FFE11A, 75px 100px 0 0 #1F8A70, 75px 125px 0 0 #FF9E9D, 75px 150px 0 0 #3FB8AF, 75px 175px 0 0 #FF9E9D, 75px 200px 0 0 #FFE11A, 75px 225px 0 0 #1F8A70, 75px 250px 0 0 #004358, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #04756F, 100px 50px 0 0 #FF8C00, 100px 75px 0 0 #FF9E9D, 100px 100px 0 0 #FF3D7F, 100px 125px 0 0 #96CA2D, 100px 150px 0 0 #FFF0A5, 100px 175px 0 0 #FF8C00, 100px 200px 0 0 #FF2D00, 100px 225px 0 0 #FFF0A5, 100px 250px 0 0 #FF9E9D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FF8C00, 125px 50px 0 0 #004358, 125px 75px 0 0 #3FB8AF, 125px 100px 0 0 #D1DBBD, 125px 125px 0 0 #FFE11A, 125px 150px 0 0 #D1DBBD, 125px 175px 0 0 #D90000, 125px 200px 0 0 #FFF0A5, 125px 225px 0 0 #FFE11A, 125px 250px 0 0 #BEDB39, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #04756F, 150px 50px 0 0 #96CA2D, 150px 75px 0 0 #D90000, 150px 100px 0 0 #BEDB39, 150px 125px 0 0 #1F8A70, 150px 150px 0 0 #FFE11A, 150px 175px 0 0 #FF2D00, 150px 200px 0 0 #BEDB39, 150px 225px 0 0 #3FB8AF, 150px 250px 0 0 #1F8A70, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FFE11A, 175px 50px 0 0 #FF8C00, 175px 75px 0 0 #3FB8AF, 175px 100px 0 0 #FF8C00, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #96CA2D, 175px 175px 0 0 #004358, 175px 200px 0 0 #D90000, 175px 225px 0 0 #FFF0A5, 175px 250px 0 0 #FF2D00, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #D90000, 200px 50px 0 0 #3FB8AF, 200px 75px 0 0 #004358, 200px 100px 0 0 #FFF0A5, 200px 125px 0 0 #D90000, 200px 150px 0 0 #FFE11A, 200px 175px 0 0 #FFF0A5, 200px 200px 0 0 #BEDB39, 200px 225px 0 0 #FF2D00, 200px 250px 0 0 #FFE11A, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #004358, 225px 50px 0 0 #D1DBBD, 225px 75px 0 0 #FFE11A, 225px 100px 0 0 #96CA2D, 225px 125px 0 0 #FFF0A5, 225px 150px 0 0 #D1DBBD, 225px 175px 0 0 #FF8C00, 225px 200px 0 0 #1F8A70, 225px 225px 0 0 #004358, 225px 250px 0 0 #96CA2D, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #04756F, 250px 50px 0 0 #FF9E9D, 250px 75px 0 0 #FF8C00, 250px 100px 0 0 #3FB8AF, 250px 125px 0 0 #BEDB39, 250px 150px 0 0 #D90000, 250px 175px 0 0 #FF9E9D, 250px 200px 0 0 #FFE11A, 250px 225px 0 0 #1F8A70, 250px 250px 0 0 #FD7400;
    }
}

@keyframes shadows {
    0% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #3FB8AF, 25px 50px 0 0 #FFF0A5, 25px 75px 0 0 #FF2D00, 25px 100px 0 0 #FF974F, 25px 125px 0 0 #D1DBBD, 25px 150px 0 0 #004358, 25px 175px 0 0 #FFE11A, 25px 200px 0 0 #FF2D00, 25px 225px 0 0 #FF974F, 25px 250px 0 0 #B5E655, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF2D00, 50px 50px 0 0 #96CA2D, 50px 75px 0 0 #EDF7F2, 50px 100px 0 0 #FFF0A5, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #FF9E9D, 50px 175px 0 0 #96CA2D, 50px 200px 0 0 #04756F, 50px 225px 0 0 #D1DBBD, 50px 250px 0 0 #3FB8AF, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FFE11A, 75px 50px 0 0 #D1DBBD, 75px 75px 0 0 #3FB8AF, 75px 100px 0 0 #FF9E9D, 75px 125px 0 0 #4BB5C1, 75px 150px 0 0 #FF974F, 75px 175px 0 0 #FF2D00, 75px 200px 0 0 #FFE11A, 75px 225px 0 0 #004358, 75px 250px 0 0 #EDF7F2, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #004358, 100px 50px 0 0 #FF9E9D, 100px 75px 0 0 #04756F, 100px 100px 0 0 #FFE11A, 100px 125px 0 0 #004358, 100px 150px 0 0 #FFF0A5, 100px 175px 0 0 #004358, 100px 200px 0 0 #FF2D00, 100px 225px 0 0 #FFE11A, 100px 250px 0 0 #96CA2D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FF974F, 125px 50px 0 0 #D1DBBD, 125px 75px 0 0 #96CA2D, 125px 100px 0 0 #FFF0A5, 125px 125px 0 0 #04756F, 125px 150px 0 0 #FF974F, 125px 175px 0 0 #4BB5C1, 125px 200px 0 0 #3FB8AF, 125px 225px 0 0 #FFF0A5, 125px 250px 0 0 #04756F, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #004358, 150px 50px 0 0 #EDF7F2, 150px 75px 0 0 #FF9E9D, 150px 100px 0 0 #B5E655, 150px 125px 0 0 #FFE11A, 150px 150px 0 0 #FF9E9D, 150px 175px 0 0 #96CA2D, 150px 200px 0 0 #FFF0A5, 150px 225px 0 0 #D1DBBD, 150px 250px 0 0 #96CA2D, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #04756F, 175px 50px 0 0 #FF974F, 175px 75px 0 0 #4BB5C1, 175px 100px 0 0 #004358, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #004358, 175px 175px 0 0 #D1DBBD, 175px 200px 0 0 #4BB5C1, 175px 225px 0 0 #FF2D00, 175px 250px 0 0 #004358, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FFE11A, 200px 50px 0 0 #FF2D00, 200px 75px 0 0 #96CA2D, 200px 100px 0 0 #FF2D00, 200px 125px 0 0 #FFF0A5, 200px 150px 0 0 #4BB5C1, 200px 175px 0 0 #FF9E9D, 200px 200px 0 0 #96CA2D, 200px 225px 0 0 #FFF0A5, 200px 250px 0 0 #FF9E9D, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #D90000, 225px 50px 0 0 #FFF0A5, 225px 75px 0 0 #3FB8AF, 225px 100px 0 0 #FF9E9D, 225px 125px 0 0 #004358, 225px 150px 0 0 #FF974F, 225px 175px 0 0 #D90000, 225px 200px 0 0 #D1DBBD, 225px 225px 0 0 #EDF7F2, 225px 250px 0 0 #FF974F, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #96CA2D, 250px 50px 0 0 #D1DBBD, 250px 75px 0 0 #FFF0A5, 250px 100px 0 0 #D1DBBD, 250px 125px 0 0 #FF2D00, 250px 150px 0 0 #FFF0A5, 250px 175px 0 0 #4BB5C1, 250px 200px 0 0 #FFE11A, 250px 225px 0 0 #FF2D00, 250px 250px 0 0 #4BB5C1;
    }
    20% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #B5E655, 25px 50px 0 0 #FD7400, 25px 75px 0 0 #96CA2D, 25px 100px 0 0 #1F8A70, 25px 125px 0 0 #FF9E9D, 25px 150px 0 0 #3FB8AF, 25px 175px 0 0 #FF974F, 25px 200px 0 0 #004358, 25px 225px 0 0 #FFE11A, 25px 250px 0 0 #FF9E9D, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF9E9D, 50px 50px 0 0 #3FB8AF, 50px 75px 0 0 #004358, 50px 100px 0 0 #3FB8AF, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #FD7400, 50px 175px 0 0 #FF3D7F, 50px 200px 0 0 #FFF0A5, 50px 225px 0 0 #96CA2D, 50px 250px 0 0 #1F8A70, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FF974F, 75px 50px 0 0 #FFF0A5, 75px 75px 0 0 #FD7400, 75px 100px 0 0 #96CA2D, 75px 125px 0 0 #FFF0A5, 75px 150px 0 0 #FFB03B, 75px 175px 0 0 #D1DBBD, 75px 200px 0 0 #FF974F, 75px 225px 0 0 #FFE11A, 75px 250px 0 0 #FD7400, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #1F8A70, 100px 50px 0 0 #BEDB39, 100px 75px 0 0 #FF9E9D, 100px 100px 0 0 #FF3D7F, 100px 125px 0 0 #B5E655, 100px 150px 0 0 #3FB8AF, 100px 175px 0 0 #FFE11A, 100px 200px 0 0 #D1DBBD, 100px 225px 0 0 #1F8A70, 100px 250px 0 0 #B5E655, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FD7400, 125px 50px 0 0 #FFE11A, 125px 75px 0 0 #FFB03B, 125px 100px 0 0 #FF974F, 125px 125px 0 0 #FF2D00, 125px 150px 0 0 #FFE11A, 125px 175px 0 0 #FF2D00, 125px 200px 0 0 #B5E655, 125px 225px 0 0 #FFE11A, 125px 250px 0 0 #FF9E9D, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #FFF0A5, 150px 50px 0 0 #3FB8AF, 150px 75px 0 0 #004358, 150px 100px 0 0 #FFF0A5, 150px 125px 0 0 #96CA2D, 150px 150px 0 0 #468966, 150px 175px 0 0 #DAD8A7, 150px 200px 0 0 #004358, 150px 225px 0 0 #FF2D00, 150px 250px 0 0 #FF974F, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FFE11A, 175px 50px 0 0 #FFB03B, 175px 75px 0 0 #FF9E9D, 175px 100px 0 0 #B5E655, 175px 125px 0 0 #FFB03B, 175px 150px 0 0 #FFF0A5, 175px 175px 0 0 #3FB8AF, 175px 200px 0 0 #FF974F, 175px 225px 0 0 #FFF0A5, 175px 250px 0 0 #468966, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #96CA2D, 200px 50px 0 0 #FFF0A5, 200px 75px 0 0 #FF2D00, 200px 100px 0 0 #FFE11A, 200px 125px 0 0 #004358, 200px 150px 0 0 #FF9E9D, 200px 175px 0 0 #1F8A70, 200px 200px 0 0 #DAD8A7, 200px 225px 0 0 #004358, 200px 250px 0 0 #3FB8AF, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #D1DBBD, 225px 50px 0 0 #004358, 225px 75px 0 0 #FD7400, 225px 100px 0 0 #FFB03B, 225px 125px 0 0 #FFE11A, 225px 150px 0 0 #FFB03B, 225px 175px 0 0 #D1DBBD, 225px 200px 0 0 #FF974F, 225px 225px 0 0 #FF2D00, 225px 250px 0 0 #FFF0A5, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #FF974F, 250px 50px 0 0 #1F8A70, 250px 75px 0 0 #3FB8AF, 250px 100px 0 0 #004358, 250px 125px 0 0 #FFB03B, 250px 150px 0 0 #B5E655, 250px 175px 0 0 #96CA2D, 250px 200px 0 0 #468966, 250px 225px 0 0 #B5E655, 250px 250px 0 0 #FFE11A;
    }
    40% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #96CA2D, 25px 50px 0 0 #FF2D00, 25px 75px 0 0 #FF8C00, 25px 100px 0 0 #004358, 25px 125px 0 0 #96CA2D, 25px 150px 0 0 #FFE11A, 25px 175px 0 0 #FD7400, 25px 200px 0 0 #FFE11A, 25px 225px 0 0 #FF9E9D, 25px 250px 0 0 #FFF0A5, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FFE11A, 50px 50px 0 0 #1F8A70, 50px 75px 0 0 #BEDB39, 50px 100px 0 0 #3FB8AF, 50px 125px 0 0 #FF3D7F, 50px 150px 0 0 #FF2D00, 50px 175px 0 0 #004358, 50px 200px 0 0 #D1DBBD, 50px 225px 0 0 #BEDB39, 50px 250px 0 0 #FF8C00, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FD7400, 75px 50px 0 0 #FF9E9D, 75px 75px 0 0 #FF2D00, 75px 100px 0 0 #FFE11A, 75px 125px 0 0 #1F8A70, 75px 150px 0 0 #3FB8AF, 75px 175px 0 0 #FF3D7F, 75px 200px 0 0 #1F8A70, 75px 225px 0 0 #FFF0A5, 75px 250px 0 0 #FFE11A, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #FFF0A5, 100px 50px 0 0 #3FB8AF, 100px 75px 0 0 #96CA2D, 100px 100px 0 0 #FFF0A5, 100px 125px 0 0 #FFE11A, 100px 150px 0 0 #BEDB39, 100px 175px 0 0 #FD7400, 100px 200px 0 0 #3FB8AF, 100px 225px 0 0 #D1DBBD, 100px 250px 0 0 #96CA2D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #004358, 125px 50px 0 0 #FF8C00, 125px 75px 0 0 #FF9E9D, 125px 100px 0 0 #FD7400, 125px 125px 0 0 #004358, 125px 150px 0 0 #FF8C00, 125px 175px 0 0 #FF9E9D, 125px 200px 0 0 #96CA2D, 125px 225px 0 0 #FF3D7F, 125px 250px 0 0 #1F8A70, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #96CA2D, 150px 50px 0 0 #1F8A70, 150px 75px 0 0 #BEDB39, 150px 100px 0 0 #FFE11A, 150px 125px 0 0 #BEDB39, 150px 150px 0 0 #1F8A70, 150px 175px 0 0 #FFE11A, 150px 200px 0 0 #BEDB39, 150px 225px 0 0 #004358, 150px 250px 0 0 #FFE11A, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FFE11A, 175px 50px 0 0 #D1DBBD, 175px 75px 0 0 #FFF0A5, 175px 100px 0 0 #FF8C00, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #D1DBBD, 175px 175px 0 0 #3FB8AF, 175px 200px 0 0 #FFE11A, 175px 225px 0 0 #3FB8AF, 175px 250px 0 0 #96CA2D, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FD7400, 200px 50px 0 0 #3FB8AF, 200px 75px 0 0 #FF9E9D, 200px 100px 0 0 #B64926, 200px 125px 0 0 #1F8A70, 200px 150px 0 0 #96CA2D, 200px 175px 0 0 #004358, 200px 200px 0 0 #FFF0A5, 200px 225px 0 0 #FFE11A, 200px 250px 0 0 #3FB8AF, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #FF9E9D, 225px 50px 0 0 #FFE11A, 225px 75px 0 0 #FF2D00, 225px 100px 0 0 #96CA2D, 225px 125px 0 0 #FF2D00, 225px 150px 0 0 #FF8C00, 225px 175px 0 0 #FF2D00, 225px 200px 0 0 #1F8A70, 225px 225px 0 0 #D1DBBD, 225px 250px 0 0 #004358, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #BEDB39, 250px 50px 0 0 #FF9E9D, 250px 75px 0 0 #FF8C00, 250px 100px 0 0 #1F8A70, 250px 125px 0 0 #004358, 250px 150px 0 0 #FF2D00, 250px 175px 0 0 #BEDB39, 250px 200px 0 0 #2E0927, 250px 225px 0 0 #FF2D00, 250px 250px 0 0 #FD7400;
    }
    60% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #3FB8AF, 25px 50px 0 0 #FF9E9D, 25px 75px 0 0 #FF3D7F, 25px 100px 0 0 #04756F, 25px 125px 0 0 #FF8C00, 25px 150px 0 0 #FF2D00, 25px 175px 0 0 #3FB8AF, 25px 200px 0 0 #EDF7F2, 25px 225px 0 0 #FFF0A5, 25px 250px 0 0 #96CA2D, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #D90000, 50px 50px 0 0 #1F8A70, 50px 75px 0 0 #96CA2D, 50px 100px 0 0 #7FC7AF, 50px 125px 0 0 #FFE11A, 50px 150px 0 0 #D1DBBD, 50px 175px 0 0 #96CA2D, 50px 200px 0 0 #FF8C00, 50px 225px 0 0 #004358, 50px 250px 0 0 #3FB8AF, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #FF8C00, 75px 50px 0 0 #004358, 75px 75px 0 0 #FFF0A5, 75px 100px 0 0 #004358, 75px 125px 0 0 #FF2D00, 75px 150px 0 0 #B5E655, 75px 175px 0 0 #FFF0A5, 75px 200px 0 0 #FF9E9D, 75px 225px 0 0 #FFE11A, 75px 250px 0 0 #D90000, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #D1DBBD, 100px 50px 0 0 #FD7400, 100px 75px 0 0 #04756F, 100px 100px 0 0 #FF8C00, 100px 125px 0 0 #644D52, 100px 150px 0 0 #FF9E9D, 100px 175px 0 0 #FFE11A, 100px 200px 0 0 #FFF0A5, 100px 225px 0 0 #3FB8AF, 100px 250px 0 0 #644D52, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FFE11A, 125px 50px 0 0 #04756F, 125px 75px 0 0 #FFE11A, 125px 100px 0 0 #FF2D00, 125px 125px 0 0 #B5E655, 125px 150px 0 0 #DAD8A7, 125px 175px 0 0 #004358, 125px 200px 0 0 #DAD8A7, 125px 225px 0 0 #FF2D00, 125px 250px 0 0 #FF8C00, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #3FB8AF, 150px 50px 0 0 #FFF0A5, 150px 75px 0 0 #FF9E9D, 150px 100px 0 0 #3FB8AF, 150px 125px 0 0 #FFE11A, 150px 150px 0 0 #FF8C00, 150px 175px 0 0 #D90000, 150px 200px 0 0 #96CA2D, 150px 225px 0 0 #1F8A70, 150px 250px 0 0 #004358, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FF9E9D, 175px 50px 0 0 #D1DBBD, 175px 75px 0 0 #96CA2D, 175px 100px 0 0 #FF3D7F, 175px 125px 0 0 #004358, 175px 150px 0 0 #DAD8A7, 175px 175px 0 0 #04756F, 175px 200px 0 0 #D1DBBD, 175px 225px 0 0 #FF8C00, 175px 250px 0 0 #B5E655, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #FF8C00, 200px 50px 0 0 #4BB5C1, 200px 75px 0 0 #1F8A70, 200px 100px 0 0 #FFE11A, 200px 125px 0 0 #FF9E9D, 200px 150px 0 0 #D90000, 200px 175px 0 0 #644D52, 200px 200px 0 0 #96CA2D, 200px 225px 0 0 #FF3D7F, 200px 250px 0 0 #D90000, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #B5E655, 225px 50px 0 0 #04756F, 225px 75px 0 0 #FF3D7F, 225px 100px 0 0 #04756F, 225px 125px 0 0 #3FB8AF, 225px 150px 0 0 #F77A52, 225px 175px 0 0 #FFF0A5, 225px 200px 0 0 #FFE11A, 225px 225px 0 0 #FF9E9D, 225px 250px 0 0 #B5E655, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #3FB8AF, 250px 50px 0 0 #D90000, 250px 75px 0 0 #B5E655, 250px 100px 0 0 #004358, 250px 125px 0 0 #FF3D7F, 250px 150px 0 0 #96CA2D, 250px 175px 0 0 #DAD8A7, 250px 200px 0 0 #FF2D00, 250px 225px 0 0 #3FB8AF, 250px 250px 0 0 #FFE11A;
    }
    80% {
        box-shadow: 0px 0px 0 0 rgba(255, 255, 255, 0), 0px 25px 0 0 rgba(255, 255, 255, 0), 0px 50px 0 0 rgba(255, 255, 255, 0), 0px 75px 0 0 rgba(255, 255, 255, 0), 0px 100px 0 0 rgba(255, 255, 255, 0), 0px 125px 0 0 rgba(255, 255, 255, 0), 0px 150px 0 0 rgba(255, 255, 255, 0), 0px 175px 0 0 rgba(255, 255, 255, 0), 0px 200px 0 0 rgba(255, 255, 255, 0), 0px 225px 0 0 rgba(255, 255, 255, 0), 0px 250px 0 0 rgba(255, 255, 255, 0), 25px 0px 0 0 rgba(255, 255, 255, 0), 25px 25px 0 0 #FF8C00, 25px 50px 0 0 #96CA2D, 25px 75px 0 0 #04756F, 25px 100px 0 0 #3FB8AF, 25px 125px 0 0 #FFE11A, 25px 150px 0 0 #004358, 25px 175px 0 0 #FFE11A, 25px 200px 0 0 #BEDB39, 25px 225px 0 0 #004358, 25px 250px 0 0 #FF8C00, 50px 0px 0 0 rgba(255, 255, 255, 0), 50px 25px 0 0 #FF2D00, 50px 50px 0 0 #FF9E9D, 50px 75px 0 0 #FF8C00, 50px 100px 0 0 #FFF0A5, 50px 125px 0 0 #96CA2D, 50px 150px 0 0 #FFF0A5, 50px 175px 0 0 #D90000, 50px 200px 0 0 #FFF0A5, 50px 225px 0 0 #96CA2D, 50px 250px 0 0 #FFF0A5, 75px 0px 0 0 rgba(255, 255, 255, 0), 75px 25px 0 0 #3FB8AF, 75px 50px 0 0 #FFB03B, 75px 75px 0 0 #FFE11A, 75px 100px 0 0 #1F8A70, 75px 125px 0 0 #FF9E9D, 75px 150px 0 0 #3FB8AF, 75px 175px 0 0 #FF9E9D, 75px 200px 0 0 #FFE11A, 75px 225px 0 0 #1F8A70, 75px 250px 0 0 #004358, 100px 0px 0 0 rgba(255, 255, 255, 0), 100px 25px 0 0 #04756F, 100px 50px 0 0 #FF8C00, 100px 75px 0 0 #FF9E9D, 100px 100px 0 0 #FF3D7F, 100px 125px 0 0 #96CA2D, 100px 150px 0 0 #FFF0A5, 100px 175px 0 0 #FF8C00, 100px 200px 0 0 #FF2D00, 100px 225px 0 0 #FFF0A5, 100px 250px 0 0 #FF9E9D, 125px 0px 0 0 rgba(255, 255, 255, 0), 125px 25px 0 0 #FF8C00, 125px 50px 0 0 #004358, 125px 75px 0 0 #3FB8AF, 125px 100px 0 0 #D1DBBD, 125px 125px 0 0 #FFE11A, 125px 150px 0 0 #D1DBBD, 125px 175px 0 0 #D90000, 125px 200px 0 0 #FFF0A5, 125px 225px 0 0 #FFE11A, 125px 250px 0 0 #BEDB39, 150px 0px 0 0 rgba(255, 255, 255, 0), 150px 25px 0 0 #04756F, 150px 50px 0 0 #96CA2D, 150px 75px 0 0 #D90000, 150px 100px 0 0 #BEDB39, 150px 125px 0 0 #1F8A70, 150px 150px 0 0 #FFE11A, 150px 175px 0 0 #FF2D00, 150px 200px 0 0 #BEDB39, 150px 225px 0 0 #3FB8AF, 150px 250px 0 0 #1F8A70, 175px 0px 0 0 rgba(255, 255, 255, 0), 175px 25px 0 0 #FFE11A, 175px 50px 0 0 #FF8C00, 175px 75px 0 0 #3FB8AF, 175px 100px 0 0 #FF8C00, 175px 125px 0 0 #3FB8AF, 175px 150px 0 0 #96CA2D, 175px 175px 0 0 #004358, 175px 200px 0 0 #D90000, 175px 225px 0 0 #FFF0A5, 175px 250px 0 0 #FF2D00, 200px 0px 0 0 rgba(255, 255, 255, 0), 200px 25px 0 0 #D90000, 200px 50px 0 0 #3FB8AF, 200px 75px 0 0 #004358, 200px 100px 0 0 #FFF0A5, 200px 125px 0 0 #D90000, 200px 150px 0 0 #FFE11A, 200px 175px 0 0 #FFF0A5, 200px 200px 0 0 #BEDB39, 200px 225px 0 0 #FF2D00, 200px 250px 0 0 #FFE11A, 225px 0px 0 0 rgba(255, 255, 255, 0), 225px 25px 0 0 #004358, 225px 50px 0 0 #D1DBBD, 225px 75px 0 0 #FFE11A, 225px 100px 0 0 #96CA2D, 225px 125px 0 0 #FFF0A5, 225px 150px 0 0 #D1DBBD, 225px 175px 0 0 #FF8C00, 225px 200px 0 0 #1F8A70, 225px 225px 0 0 #004358, 225px 250px 0 0 #96CA2D, 250px 0px 0 0 rgba(255, 255, 255, 0), 250px 25px 0 0 #04756F, 250px 50px 0 0 #FF9E9D, 250px 75px 0 0 #FF8C00, 250px 100px 0 0 #3FB8AF, 250px 125px 0 0 #BEDB39, 250px 150px 0 0 #D90000, 250px 175px 0 0 #FF9E9D, 250px 200px 0 0 #FFE11A, 250px 225px 0 0 #1F8A70, 250px 250px 0 0 #FD7400;
    }
}

.war-content-10 {}

.education-item {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.education-logo img {
    width: 200px;
}

.education-info {
    margin-top: 5px;
}

.education-info p {
    font-size: 16px;
    line-height: 1.5;
}

.education-content,
.education-content p {
    font-size: 16px;
    line-height: 1.5;
}


/*introduction-------------------------*/

.war-11 {
    position: relative;
    background: -webkit-radial-gradient(circle, #59adeb, #7ed4f7, #3e5c9a);
    background: radial-gradient(circle, #59adeb, #7ed4f7, #3e5c9a);
    background-size: 200% 100% !important;
    -webkit-animation: move 10s ease infinite;
    animation: move 10s ease infinite;
}

.war-content-11 {}

.introducation-item {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.introducation-content,
.introducation-content p {
    font-size: 16px;
    line-height: 1.5;
}


/*aside-----------------------------------------------------------------*/

aside {
    z-index: 1000;
    width: 24px;
    height: auto;
    position: fixed;
    right: 20px;
    background: rgba(0, 0, 0, 0);
    border-radius: 34px;
}

@media (min-width: 768px) {
    aside {
        right: 50px;
    }
}

.page {
    height: 16px;
    width: 16px;
    margin: 20px 5px;
    line-height: 16px;
    /*background: url('../images/ico_bg.png') 0 -50px no-repeat;*/
    position: relative;
    cursor: pointer;
}

.page:hover .page-title {
    display: block;
}

.page-title {
    position: absolute;
    height: 14px;
    width: 130px;
    padding-right: 10px;
    text-align: right;
    color: #fff;
    line-height: 14px;
    font-size: 14px;
    right: 100%;
    top: 0;
    display: none;
}